body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

* *::before *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

/*-------------------------------------------- header ------------------------------------*/
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 7em;
  border-bottom: 1px solid #e7e9fc;
}

.info-list {
  display: flex;
  gap: 1em;
}

.logo-link {
  text-decoration: none;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
}

.logo-first-p {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-second-p {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.info-list-point {
  padding: 1px;
  display: block;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.info-list-point:hover,
.info-list-point:focus {
  color: #404bbf;
}

.info-a-list-point {
  padding: 2em;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  color: #434455;
}

.info-a-list-point:hover,
.info-a-list-point:focus {
  color: #404bbf;
}

/*------------------------------------------ section ------------------------------------*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*------------------------------------------ hero ------------------------------------*/
.hero-section {
  background-color: #2e2f42;
  padding: 16em 8em 16em 8em;
  flex-direction: column;
}

.hero-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin: 10px auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*------------------------------------- features section -----------------------*/
.feature-list {
  display: flex;
}

.feature {
  width: 260px;
  margin-right: 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.features-t {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-point-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
}

.features-point-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/*---------------------------------------- team section ------------------------------*/

.team-s {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.team-title {
  padding-bottom: 80px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
}

.team-p {
  background-color: #ffffff;
  padding-bottom: 32px;
  width: 264;
}

.team-photo {
  width: 264px;
}

.team-name {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-r {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: center;
}

/*--------------------------------------- portfolio section --------------------------------*/

.portfolio-main {
  padding-bottom: 47px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  border:1px;
  gap: 23px;
  padding:32px 16px;
  justify-content: ;
}

.porfolio-p{
  padding:32px 16px;
  border-radius: 1px;
  gap:8px
}

.portfolio-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-type-p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/*-------------------------------------- footer -------------------------------*/

.last-section {
  background-color: #2e2f42;
  padding: 130px 1px;
  display: flex;
  flex-direction: column;
  gap:10px
}

.footer-container{
  margin-left: 193px;
}

.logo-second-f-p {

  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: #f4f4fd;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-text {
  align-self: self-start;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  
}
